<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="FlowerAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="flowerLog.log"/>
        <param name="MaxFileSize" value="100MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%-5p][%-10.10t][%20c{-2}] - %m%n"/>
        </layout>
    </appender>

    <appender name="DecorationAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="decorationLog.log"/>
        <param name="MaxFileSize" value="100MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%-5p][%-10.10t][%20c{-2}] - %m%n"/>
        </layout>
    </appender>

    <appender name="FactoryAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="factoryLog.log"/>
        <param name="MaxFileSize" value="100MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%-5p][%-10.10t][%20c{-2}] - %m%n"/>
        </layout>
    </appender>

    <appender name="ApplicationAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="applicationLog.log"/>
        <param name="MaxFileSize" value="100MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%-5p][%-10.10t][%20c{-2}] - %m%n"/>
        </layout>
    </appender>

    <logger name="flower">
        <level value="INFO"/>
        <appender-ref ref="FlowerAppender"/>
    </logger>

    <logger name="decoration">
        <level value="INFO"/>
        <appender-ref ref="DecorationAppender"/>
    </logger>

    <logger name="factory">
        <level value="INFO"/>
        <appender-ref ref="FactoryAppender"/>
    </logger>

    <logger name="Main">
        <level value="INFO"/>
        <appender-ref ref="ApplicationAppender"/>
    </logger>

    <root>
        <priority value="INFO"/>
        <appender-ref ref="ApplicationAppender"/>
    </root>

</log4j:configuration>